/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');

/* 
==================================
Variables
==================================
*/
:root{
    --primaryColor:#f15025;
    --mainBlack:#222;
    --mainWhite:#fff;
    --offWhite:#f7f7f7;
    --darkGrey:#afafaf;
    --mainTransition:all 0.3s linear;
    --mainSpacing:0.2rem;
}
body{
    font-family: 'Fira Code', monospace;
}